html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::selection {
  background: gray;
  color: white;
}

html,
body,
.container {
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}
.container .choose-month-and-year {
  display: flex;
}
.container .choose-month-and-year #months {
  flex-grow: 1;
}
.container .choose-month-and-year #years {
  flex-grow: 1;
}
.container .items-field-and-generated-month {
  display: flex;
  flex: 1;
}
.container .items-field-and-generated-month .input {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.container .items-field-and-generated-month .input textarea {
  flex: 1;
}
.container .items-field-and-generated-month .output {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.container .items-field-and-generated-month .output textarea {
  flex: 1;
}

body,
input,
textarea {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

header {
  font-size: 48px;
  margin: 0.5em 0;
  text-align: center;
}

.choose-month-and-year {
  margin: 0 0 1em;
}
.choose-month-and-year #months {
  padding-right: 2em;
  text-align: right;
}
.choose-month-and-year input {
  display: none;
}
.choose-month-and-year label {
  border-radius: 3px;
  color: #0da1ff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0;
  padding: 0.2em 0.4em 0.24em;
}
.choose-month-and-year label:hover {
  background: #eeeeee;
}
.choose-month-and-year input:checked + label {
  background: #0da1ff;
  color: white;
}

.items-field-and-generated-month h2 {
  font-weight: 600;
}
.items-field-and-generated-month p {
  color: #aaaaaa;
  font-size: 12px;
  margin: 1em 0;
}
.items-field-and-generated-month p kbd {
  background: #f1f1f1;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 0.1em 0.4em;
  font-family: Monaco, Courier, monospace;
  font-size: 90%;
  margin: 0 0.25em;
}
.items-field-and-generated-month textarea {
  border-radius: 3px;
  outline: 0;
  padding: 10px;
  margin: 0;
  resize: none;
}

.input {
  padding: 1em;
}
.input textarea {
  background: white;
  border: 1px solid #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}
.input textarea:focus {
  border-color: #0da1ff;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(13, 161, 255, 0.5);
}

.output {
  padding: 1em;
}
.output textarea {
  background: #f4f4f4;
  border: 0;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.3;
  margin: 0;
  resize: none;
}

footer {
  color: #aaaaaa;
  padding: 0 1em 1em;
  text-align: center;
}
footer p {
  font-size: 13px;
  line-height: 1.8;
}
footer a {
  color: #999999;
}
footer a:hover {
  color: #333333;
}
