// Includes
@import "compass"
@import "compass/reset"

// Styles
*
  position: relative
  @include box-sizing(border-box)

::selection
  background: gray
  color: white

html,
body
  height: 100%

body
  display: flex

body,
input,
textarea
  font-family: "Helvetica Neue", sans-serif
  font-size: 16px
  font-weight: 300

.input
  background: #eee
  display: flex
  flex: 1
  flex-direction: column

  header
    //

  .choose-month
    //

  textarea
    flex: 1

  footer
    //

.output
  background: #f4f4f4
  display: flex
  flex: 1

form
  textarea
    font-family: Helvetica, sans-serif
    font-size: 16px
    padding: 1%
    resize: vertical
    width: 100%

  select,
  input
    float: left
    font-size: 16px
    margin: 0 1em 1em 0

#taskpaper-month
  background: #f4f4f4
  border: 0
  font-family: Helvetica, sans-serif
  font-size: 14px
  line-height: 1.3
  margin: 0
  padding: 1%
  resize: none
  width: 100%

h1
  line-height: 1
  margin: 0 0 .25em

ol
  list-style-type: decimal
  margin: 0 0 0 1.25em
  padding: 0

p,
li
  font-size: 13px
  line-height: 1.8

hr
  border: 0
  border-top: 4px solid #ccc
  clear: both
  height: 0
  margin: 1.25em 0 1.5em

.credits
  color: #666
  margin-top: 2em

  a
    color: #888

  a:hover
    color: #333
