@mixin triangle-bottom($size, $color, $direction)
  &:after
    content: ""
    position: absolute
    left: 50%
    bottom: 0
    margin-left: - $size
    border-left: $size solid transparent
    border-right: $size solid transparent
    @if $direction == "down"
      border-top: $size solid $color
      margin-bottom: - $size
    @else
      border-bottom: $size solid $color